{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "corejs": 2,
        "regenerator": true,
        "promise": true
      }
    ],
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-syntax-dynamic-import"
  ]
}